<div class="navbar navbar-inverse" style="background-color: rgb(107, 43, 46)" role="navigation" >
  <div class="container-fluid" >

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-white" href="/">News Highlight</a>
    </div>

  </div>
</div> 
